@import url('https://fonts.googleapis.com/css2?family=Grenze&display=swap');

:root {
    --blue: #0275d8;
    --red: #d9534f;
    --yellow: #f0ad4e;
    --green: #5cb85c;
    --dark: #292b2c;
    --fades: #f7f7f7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

body {
    background: #eee;
}

ul {
    padding: 0;
}

html {
    font-family: 'Nunito Sans', sans-serif;
}

a {
    text-decoration: none !important;
    color: #000;
}


/* navbar*/

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    font-size: 1.90rem;
    color: #fff;
}

.logo h1 span {
    background: #f8981e;
    border-radius: 5px;
    padding: 0 6px;
    margin-left: 5px;
    color: #000;
}

header.header {
    background: #004274;
    height: 90px;
}

header.header-wrap {
    background-image: linear-gradient(rgba(0, 77, 139, 0.9), rgba(255, 255, 255, 0.226)), url(../img/bg-header.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav.navbar {
    height: 90px;
    border-bottom: 1px solid rgba(238, 238, 238, 0.24);
}

.nav-link-item {
    display: flex;
    align-items: center;
    height: 100%;
    color: #fff;
    font-weight: 500;
    transition: .2s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.nav-link-item:hover {
    background: rgba(50, 173, 255, 0.3);
    color: #fff;
}

.tel-link {
    font-size: 0.85rem;
}

/* property page styles  */

.prop-title>h1 {
    font-size: 20px;
}

.breadcrumb-item {
    font-weight: 350;
}

.prop-case {
    font-size: 20px;
}

.fa-location-dot {
    color: #212529;
    font-weight: 300;
}

.prop-adress {
    font-size: 16px;
    font-weight: 400;
}

.fa-print:hover {
    cursor: pointer;
}

.fa-square-share-nodes:hover {
    cursor: pointer;
}

.tel-icon {
    font-size: 1.10rem;
}

.icon-share {
    font-size: 1.45rem;
    padding: 0.25rem;

}



img.ddd {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    overflow: hidden;
}

.agent-card {
    box-shadow: rgba(0, 0, 0, 0.185) 0px 5px 15px;
    font-size: 0.90rem;
}

/* sidebar styles */
.sidebar-wrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(34, 34, 34, 0.445);
    z-index: 10;
    transition-property: all;
    transition-delay: 1s;
    transition-duration: 1s;

}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    width: 280px;
    left: -280px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.600), rgba(199, 199, 199, 0.99)), url(../img/side.jpg);
    height: 100%;
    z-index: 1337 !important;
    transition: all 1s;
}

.sidebar-active>.sidebar {
    left: 0;
    transition: all 1s;
}

.btn-close-sidebar i {
    font-size: 1.3rem;
}

.sidebar-active {
    display: block;
}

.btn-toggle-sidebar {
    display: none;
}

.btn-sidebar-item {
    background: #fff;
    color: #000;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    border: 0;
    border-radius: 0;
    margin-bottom: 5px;
    font-size: 1rem;
}

.btn-sidebar-item:hover {
    border: 1px solid #B2B2B2;
}

.btn-sidebar-item a {
    display: flex;
    padding: 1rem 1.25rem;
    justify-content: start;
    width: 100%;
    height: 100%;
    font-weight: 500;
}

.btn-accordion {
    background: #fff;
    color: #000;
    padding: 1rem 1.25rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: flex;
    margin-bottom: 3px;
}

.btn-accordion:hover {
    cursor: pointer;
    border: 1px solid #82C3EC;
}

.btn-accordion h2 {
    font-size: 1rem;
    margin-bottom: 0;
}

.btn-sidebar-item:hover {
    cursor: pointer;
}



.sidebar-accordion-wrapper {
    background: #fff;
    width: 100%;
    margin-bottom: 5px;
}


.accordion-content {
    display: none;
    width: 100%;
    padding: 0.25rem 1rem;
}

.accordion-active .accordion-content {
    display: block;
    width: 100%;
}

.btn-accordion i {
    transition: all 0.30s;
}

.accordion-active .btn-accordion i {
    transform: rotate(180deg);
}

.accordion-content li ul a {
    display: flex;
    width: 100%;
    height: 100%;
    border-top: 1px solid #B2B2B2;
    align-items: center;
    padding-left: 20px;
}

.accordion-content li ul {
    height: 3rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}

/* footer */
footer * {
    color: #fff;
}

/* last properties cards */

section.last-properties {
    padding-top: 20px;
    height: 530px;
}

@media(max-width:699px) {
    section.last-properties {
        padding: 20px 50px;
    }
}

.card-property {
    width: 100%;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 8px;
    min-height: 383px;
}


.card-property .span-type {
    padding: 1px 5px;
    position: absolute;
    left: 8px;
    top: 8px;
    z-index: 1000;
    background: #0152cc;
    color: white;
    border-radius: 2px;
}


.card-image-wrapper {
    width: 100%;
    max-height: 250px;
    position: relative;
    background: #FBFACD;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.card-image {
    height: 250px;
}

.card-image img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    overflow: hidden;
}


.card-property .span-cost {
    padding: 1px 5px;
    position: absolute;
    left: 8px;
    bottom: 8px;
    z-index: 1000;
    color: white;
    background: #004274;
}


/* index property carousel cards dots */
.carousel-prop .owl-nav.disabled+.owl-dots {
    margin-top: -490px;
    z-index: -1;
    position: relative;
}

.card-property-location {
    font-size: 13px;
}

span.area {
    font-size: 14px;
}

.z-index-2 {
    z-index: 200;
}

i.search {
    padding: 5px 10px;
}

button {
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


.card-aboutus h4 {
    font-family: 'Grenze', serif;
    /* font-size:19px; */
}

.card-aboutus p {
    font-size: 15px;
    font-weight: 300;
}

/* ilanlar sayfası */

.side-filters {
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 2.5rem 0.25rem;
    width: 250px;
    border-radius: 0;
    padding: 0;
    position: sticky;
    top: 60px;
}

@media(max-width:1000px) {
    .side-filters {
        border-radius: 10px;
        padding: 25px;
    }
}

.btn-toggle-filter i {
    font-size: 25px;
    color: #fff;
}

@media(max-width:1000px) {
    .btn-toggle-filter {
        display: inline-block;
    }
}

#properties {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem 0.25rem;
    width: 80%;
    justify-content: center;
    align-items: flex-start;
}

#properties .card-property {
    max-width: 31%;
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media(max-width:1200px) {
    #properties .card-property {
        max-width: 47% !important;
    }
}

@media(max-width:700px) {
    #properties .card-property {
        max-width: 70% !important;
    }
}

@media(max-width:500px) {
    #properties .card-property {
        max-width: 100% !important;
    }
}

.card-property span.prop-type {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    background: #0275d8;
    color: #fff;
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 3px;
    box-shadow: rgba(99, 99, 99, 1) 0px 2px 8px 0px;
}

.property-card-image {
    overflow: hidden;
    height: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.property-card-image::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, .50) 100%);
    z-index: 31;
}

.property-card-image:hover::before {
    display: none;
}

.property-card-image .item {
    max-height: 190px;
}

.property-card-image img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    overflow: hidden;
}

.property-card-body span {
    background: rgb(94, 94, 94);
    height: 100%;
    color: #fff;
    padding: 5px 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 12px;
}

.props-prop-title {
    font-size: 16px;
    display: inline-block;
    height: 38px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* sadsad */
.filter-card input {
    width: 80px;
    height: 90%;
}

.filter-card input[type="checkbox"] {
    width: 30px;
    margin-left: 25px
}

.filter-card span {
    background: #007BFF;
    height: 100%;
    color: #fff;
    padding: 5px 6px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.filter-card label {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
}

.filter-card label:hover {
    cursor: pointer;
}


.bg-faded {
    background: #eee;
}

.filter-card h6 {
    font-size: 16px;
    padding: 10px 8px;
    margin-bottom: 0;
}

.filter-card h6:hover {
    background: #B2B2B2;
    cursor: pointer;
}

.filter-card-content {
    padding: 3px 4px;
    /* display: none !important; */
    transition-property: all;
    transition-duration: .5s;
    height: 0px;
    overflow: hidden;
    background: #BAD7E9;
}

.active .filter-card-content {
    height: 100px;
}

.active .filter-card-content.room-content {
    max-height: 100px;
    padding-bottom: 5px;
    overflow-y: scroll;
}

#select-room {
    margin-top: 5px
}


.wrapper-filter {
    position: relative;
    width: 300px;
    display: block;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 1s;
}

@media(max-width:1000px) {
    .wrapper-filter {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .wrapper-filter.filter-on {
        display: flex;
    }
}


.wrapper-sort {
    position: relative;
    width: 100%;
    display: none;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 1s;
}

@media(max-width:1000px) {
    .wrapper-sort {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }

    .wrapper-sort.sort-on {
        display: flex;
    }
}

.property-navbar {
    height: 20px;
    width: 100%;
    background: black;
}


/* filter sort toggle buttons (mobile & medium) */

.filter-sort {
    display: none;
}

@media(max-width:1000px) {
    .filter-sort {
        display: flex;
    }
}

.filter-sort .fs {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-weight: 600;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, .3);
    font-size: 14px;
    box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.50);
    -webkit-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 2px 1px 5px 0px rgba(0, 0, 0, 0.50);
}

.btn-toggle-filter .fa-filter {
    font-size: 15px;
    color: rgba(0, 0, 0, .7);
}

.container-wrapper {
    width: 100%;
    z-index: 1337;
}

.scrolled {
    position: fixed;
    top: 0;
    background: #004274;
}


.filters-accordion {
    background: #BAD7E9;
    color: #000;
}

.filters-accordion:hover {
    background: #82C3EC !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #3f72af #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #a9befe;
}

*::-webkit-scrollbar-thumb {
    background-color: #3f72af;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.paginationBar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-pagination {
    display: inline-block;
}


/* loading page animation */

.content {
    display: none;
}

.loader {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #1C2534;
    position: fixed;
}


.loading {
    display: flex;
    transform: scale(4);
}

.loading .ball {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.5rem;
    transition: transform 0.3s infinite;
}

.ball+.ball {
    margin-left: 0.4rem;
}

.loading .ball.one {
    animation: loadingBall 0.5s infinite alternate;
    background: #2DE2FA30;
}

.loading .ball.two {
    animation: loadingBall2 0.5s infinite 0.2s alternate;
    background: #2DE2FA30;
}

.loading .ball.three {
    animation: loadingBall3 0.5s infinite 0.35s alternate;
    background: #2DE2FA30;
}

.loading .ball.four {
    animation: loadingBall4 0.5s infinite 0.5s alternate;
    background: #2DE2FA30;
}



@keyframes loadingBall {
    0% {
        transform: translateY(0);
    }

    0% {
        transform: translateY(-10px) scale(1.2);
        background: #2DE2FA;
        box-shadow: 0 0 2px #2DE2FAaa;
    }

    100% {
        transform: translateY(5px);
    }
}

@keyframes loadingBall2 {
    0% {
        transform: translateY(0);
    }

    0% {
        transform: translateY(-10px) scale(1.2);
        background: #2DE2FA;
        box-shadow: 0 0 2px #2DE2FAaa;
    }

    100% {
        transform: translateY(5px);
    }
}

@keyframes loadingBall3 {
    0% {
        transform: translateY(0);
    }

    0% {
        transform: translateY(-10px) scale(1.2);
        background: #2DE2FA;
        box-shadow: 0 0 2px #2DE2FAaa;
    }

    100% {
        transform: translateY(5px);
    }
}

@keyframes loadingBall4 {
    0% {
        transform: translateY(0);
    }

    0% {
        transform: translateY(-10px) scale(1.2);
        background: #2DE2FA;
        box-shadow: 0 0 2px #2DE2FAaa;
    }

    100% {
        transform: translateY(5px);
    }
}

.nav-properties {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
    position: relative;
}

section#property-types {
    margin-top: 50px;
    padding: 40px 0;
    background-color: #fff;
}

.prop-type-card-wrapper {
    display: flex;
}

.item-property-type {
    display: block;
    width: 30%;
    height: 300px;
    margin: 5px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    transition: .2s;
    flex-grow: 1;
}

.item-property-type:hover {
    cursor: pointer;
    height: 320px;
    width: 33%;
}

.item-property-type img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.item-property-type::after {
    content: 'KONUT';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .2));
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
    letter-spacing: 5px;
}

.item-property-type:nth-child(2):after {
    content: 'İŞYERİ'
}

.item-property-type:nth-child(3):after {
    content: 'ARSA'
}


/* property not found */
.notfound {
    width: 100%;
    font-weight: 700;
    display: flex;
    background: #fff;
    padding: 12px;
    border-radius: 8px;
}

.icon-notfound i.fa-circle-info {
    font-size: 36px;
    margin-right: 15px;
    color: #5F787E
}

.notfound-header {
    font-size: 24px;
    color: #333;
    font-weight: 600;
}

.btn-reset-filters {
    display: inline-block;
    color: #0275d8;
}

.btn-reset-filters:hover {
    cursor: pointer;
}

.notfound-body {
    font-weight: 500;
}

/* city cards on index page */
.property-cities{
    padding: 50px 0;
}

section.property-cities>.container-xl>.featured-cities {
    display: flex;
}

.card-cities-wrapper {
    display: flex;
    justify-content: center;
}

.card-city {
    margin: 30px 10px;
    width: 220px;
    height: 480px;
    position: relative;
    border-radius: 15px;
}

.featured-cities>.content-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5rem;
}

@media(max-width:1100px) {

    section.property-cities>.container-xl>.featured-cities {
        flex-direction: column;
    }
    .featured-cities>.content-area{
        align-items: center;
    }
    .card-cities-wrapper{
        flex-wrap: wrap;
    }
}

@media(max-width:523px){
    .card-city{
        height: 320px;
        margin: 10px 5px;
    }
}

.card-city .front-face,
.card-city .back-face {
    width: inherit;
    height: inherit;
    position: absolute;
    backface-visibility: hidden;
    transition: 1s;
    border-radius: 15px;
}

.card-city img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
    border-radius: 15px;
}

.card-city .back-face img {
    filter: brightness(60%)
}

.card-city .back-face {
    transform: rotateY(180deg);
}

.card-city:hover .front-face {
    transform: rotateY(180deg);
}

.card-city:hover .back-face {
    transform: rotateY(0);
}

.card-face {
    position: relative;
}

.card-city .card-face h4 {
    position: absolute;
    top: 80%;
    left: 50%;
    color: #fff;
    text-align: center;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    font-weight: 400;
}


.card-city .card-face .button-group-city-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: min-content;
}

.card-city .card-face .button-group-city-card .btn {
    color: #fff;
    width: fit-content;
    padding: 10px 30px;
    margin: 0 auto;
    border: 1px solid #eee;
    backface-visibility: hidden;
    background-color: #000;
    margin: 5px 0;
    border-radius: 0;
}

.card-city .card-face .button-group-city-card .btn:hover {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0);
}